# Note that the naming of this file is incorrect for our case: these people do not "own" the provided files but are
# people with write-access to this repository (i.e. @Homebrew/lead-maintainers) who wish to approve changes to these files.
#
# Their review is required to merge PRs that change these files.
#
# To be explicit: we will never accept changes to this file adding people from outside the Homebrew GitHub
# organisation. If you are not a Homebrew maintainer: you do not personally "own" or "maintain" any formulae.

CODEOWNERS                        @Homebrew/lead-maintainers @MikeMcQuaid
CONTRIBUTING.md                   @Homebrew/lead-maintainers @MikeMcQuaid
tap_migrations.json               @Homebrew/lead-maintainers @MikeMcQuaid
.github/ISSUE_TEMPLATE/           @Homebrew/lead-maintainers @MikeMcQuaid
.github/PULL_REQUEST_TEMPLATE.md  @Homebrew/lead-maintainers @MikeMcQuaid
LICENSE.txt                       @Homebrew/lead-maintainers @MikeMcQuaid
.github/workflows/                @Homebrew/lead-maintainers @MikeMcQuaid
.github/workflows/triage.yml      @Homebrew/lead-maintainers
Abstract/portable-formula.rb      @Homebrew/lead-maintainers @p-linnane
Formula/f/ffmpeg.rb               @Homebrew/lead-maintainers @MikeMcQuaid
Formula/f/ffmpeg-full.rb          @Homebrew/lead-maintainers @MikeMcQuaid
Formula/i/imagemagick.rb          @Homebrew/lead-maintainers @MikeMcQuaid
Formula/i/imagemagick-full.rb     @Homebrew/lead-maintainers @MikeMcQuaid
Formula/p/portable-*.rb           @Homebrew/lead-maintainers @p-linnane

audit_exceptions/linux_only_gcc_dependency_allowlist.json               @Homebrew/lead-maintainers
audit_exceptions/permitted_formula_license_mismatches.json              @Homebrew/lead-maintainers @MikeMcQuaid
audit_exceptions/provided_by_macos_depends_on_allowlist.json            @Homebrew/lead-maintainers @MikeMcQuaid
audit_exceptions/relicensed_formulae_versions.json                      @Homebrew/lead-maintainers @MikeMcQuaid
audit_exceptions/universal_binary_allowlist.json                        @Homebrew/lead-maintainers @carlocab
audit_exceptions/versioned_formula_dependent_conflicts_allowlist.json   @Homebrew/lead-maintainers @MikeMcQuaid

# TODO: Remove after OpenSSL 4 staging branch is merged
Formula/a/adios2.rb                  @cho-m
Formula/a/afflib.rb                  @cho-m
Formula/a/apache-arrow.rb            @cho-m
Formula/a/apache-serf.rb             @cho-m
Formula/a/apr-util.rb                @cho-m
Formula/a/aria2.rb                   @cho-m
Formula/a/aws-c-cal.rb               @cho-m
Formula/b/bbot.rb                    @cho-m
Formula/b/bind.rb                    @cho-m
Formula/b/bittensor.rb               @cho-m
Formula/b/borgbackup.rb              @cho-m
Formula/c/capnp.rb                   @cho-m
Formula/c/cargo-c.rb                 @cho-m
Formula/c/cargo-outdated.rb          @cho-m
Formula/c/cargo-udeps.rb             @cho-m
Formula/c/cargo-update.rb            @cho-m
Formula/c/ccache.rb                  @cho-m
Formula/c/chawan.rb                  @cho-m
Formula/c/citus.rb                   @cho-m
Formula/c/civetweb.rb                @cho-m
Formula/c/clamav.rb                  @cho-m
Formula/c/cnats.rb                   @cho-m
Formula/c/colmap.rb                  @cho-m
Formula/c/coturn.rb                  @cho-m
Formula/c/cpr.rb                     @cho-m
Formula/c/cryptography.rb            @cho-m
Formula/c/csound.rb                  @cho-m
Formula/c/cups.rb                    @cho-m
Formula/c/curl.rb                    @cho-m
Formula/c/cyrus-sasl.rb              @cho-m
Formula/d/davix.rb                   @cho-m
Formula/d/deadfinder.rb              @cho-m
Formula/d/dnsdist.rb                 @cho-m
Formula/d/dnsperf.rb                 @cho-m
Formula/d/dovecot.rb                 @cho-m
Formula/e/ecflow-ui.rb               @cho-m
Formula/e/edbrowse.rb                @cho-m
Formula/e/efl.rb                     @cho-m
Formula/f/far2l-tty.rb               @cho-m
Formula/f/fastnetmon.rb              @cho-m
Formula/f/fb-client.rb               @cho-m
Formula/f/fbthrift.rb                @cho-m
Formula/f/ffmpeg.rb                  @cho-m
Formula/f/fizz.rb                    @cho-m
Formula/f/folly.rb                   @cho-m
Formula/f/forbidden.rb               @cho-m
Formula/f/freeradius-server.rb       @cho-m
Formula/f/freerdp.rb                 @cho-m
Formula/f/freeswitch.rb              @cho-m
Formula/f/freetds.rb                 @cho-m
Formula/g/gdal.rb                    @cho-m
Formula/g/gdcm.rb                    @cho-m
Formula/g/gensio.rb                  @cho-m
Formula/g/getdns.rb                  @cho-m
Formula/g/ggshield.rb                @cho-m
Formula/g/gnupg-pkcs11-scd.rb        @cho-m
Formula/g/got.rb                     @cho-m
Formula/g/gpac.rb                    @cho-m
Formula/g/grpc.rb                    @cho-m
Formula/g/gss-ntlmssp.rb             @cho-m
Formula/g/gstreamer.rb               @cho-m
Formula/g/gwenhywfar.rb              @cho-m
Formula/h/heimdal.rb                 @cho-m
Formula/h/hiredis.rb                 @cho-m
Formula/h/httpd.rb                   @cho-m
Formula/h/hydra.rb                   @cho-m
Formula/j/julia.rb                   @cho-m
Formula/k/karchive.rb                @cho-m
Formula/k/kmod.rb                    @cho-m
Formula/k/krb5.rb                    @cho-m
Formula/l/lanraragi.rb               @cho-m
Formula/l/lasso.rb                   @cho-m
Formula/l/lastpass-cli.rb            @cho-m
Formula/l/ldns.rb                    @cho-m
Formula/l/legba.rb                   @cho-m
Formula/l/lighttpd.rb                @cho-m
Formula/l/llama.cpp.rb               @cho-m
Formula/lib/libcouchbase.rb          @cho-m
Formula/lib/libevent.rb              @cho-m
Formula/lib/libewf.rb                @cho-m
Formula/lib/libfido2.rb              @cho-m
Formula/lib/libgit2.rb               @cho-m
Formula/lib/libks.rb                 @cho-m
Formula/lib/libngtcp2.rb             @cho-m
Formula/lib/libpaho-mqtt.rb          @cho-m
Formula/lib/libpq.rb                 @cho-m
Formula/lib/libpq@16.rb              @cho-m
Formula/lib/libpq@17.rb              @cho-m
Formula/lib/librdkafka.rb            @cho-m
Formula/lib/libretls.rb              @cho-m
Formula/lib/libshout.rb              @cho-m
Formula/lib/libssh.rb                @cho-m
Formula/lib/libssh2.rb               @cho-m
Formula/lib/libstrophe.rb            @cho-m
Formula/lib/libtorrent-rasterbar.rb  @cho-m
Formula/lib/libwebsockets.rb         @cho-m
Formula/lib/libxmlsec1.rb            @cho-m
Formula/lib/libzip.rb                @cho-m
Formula/m/mailcatcher.rb             @cho-m
Formula/m/mapnik.rb                  @cho-m
Formula/m/mariadb-connector-c.rb     @cho-m
Formula/m/mavsdk.rb                  @cho-m
Formula/m/memcached.rb               @cho-m
Formula/m/memtier_benchmark.rb       @cho-m
Formula/m/micromamba.rb              @cho-m
Formula/m/monero.rb                  @cho-m
Formula/m/mongo-c-driver.rb          @cho-m
Formula/m/monitoring-plugins.rb      @cho-m
Formula/m/mosquitto.rb               @cho-m
Formula/m/mupdf.rb                   @cho-m
Formula/m/musikcube.rb               @cho-m
Formula/m/mvfst.rb                   @cho-m
Formula/m/mysql-client.rb            @cho-m
Formula/m/mysql-client@9.7.rb        @cho-m
Formula/n/neon.rb                    @cho-m
Formula/n/net-snmp.rb                @cho-m
Formula/n/nmap.rb                    @cho-m
Formula/n/nmh.rb                     @cho-m
Formula/n/node.rb                    @cho-m
Formula/n/node@24.rb                 @cho-m
Formula/n/nsd.rb                     @cho-m
Formula/n/ntopng.rb                  @cho-m
Formula/n/nvchecker.rb               @cho-m
Formula/o/omniorb.rb                 @cho-m
Formula/o/openiked.rb                @cho-m
Formula/o/openldap.rb                @cho-m
Formula/o/openssh.rb                 @cho-m
Formula/o/openvpn.rb                 @cho-m
Formula/o/opusfile.rb                @cho-m
Formula/p/pam-u2f.rb                 @cho-m
Formula/p/passenger.rb               @cho-m
Formula/p/pdal.rb                    @cho-m
Formula/p/percona-server.rb          @cho-m
Formula/p/pgbackrest.rb              @cho-m
Formula/p/pgbouncer.rb               @cho-m
Formula/p/pgloader.rb                @cho-m
Formula/p/php.rb                     @cho-m
Formula/p/php@8.2.rb                 @cho-m
Formula/p/php@8.3.rb                 @cho-m
Formula/p/php@8.4.rb                 @cho-m
Formula/p/pipewire.rb                @cho-m
Formula/p/pistache.rb                @cho-m
Formula/p/pkcs11-helper.rb           @cho-m
Formula/p/postgresql@15.rb           @cho-m
Formula/p/postgresql@16.rb           @cho-m
Formula/p/postgresql@17.rb           @cho-m
Formula/p/postgresql@18.rb           @cho-m
Formula/p/projectable.rb             @cho-m
Formula/p/proxygen.rb                @cho-m
Formula/p/prr.rb                     @cho-m
Formula/p/pulseaudio.rb              @cho-m
Formula/p/pushpin.rb                 @cho-m
Formula/p/python@3.14.rb             @cho-m
Formula/q/qca.rb                     @cho-m
Formula/q/qpdf.rb                    @cho-m
Formula/q/qpid-proton.rb             @cho-m
Formula/q/qtbase.rb                  @cho-m
Formula/q/qxmpp.rb                   @cho-m
Formula/r/rabbitmq-c.rb              @cho-m
Formula/r/rails-mcp-server.rb        @cho-m
Formula/r/recc.rb                    @cho-m
Formula/r/redis.rb                   @cho-m
Formula/r/redwax-tool.rb             @cho-m
Formula/r/riemann-client.rb          @cho-m
Formula/r/root.rb                    @cho-m
Formula/r/rpm.rb                     @cho-m
Formula/r/rpmspectool.rb             @cho-m
Formula/r/rtmpdump.rb                @cho-m
Formula/r/ruby.rb                    @cho-m
Formula/r/rust.rb                    @cho-m
Formula/s/s2n.rb                     @cho-m
Formula/s/s3-backer.rb               @cho-m
Formula/s/s3fs.rb                    @cho-m
Formula/s/sem-cli.rb                 @cho-m
Formula/s/shairport-sync.rb          @cho-m
Formula/s/sheldon.rb                 @cho-m
Formula/s/signalwire-client-c.rb     @cho-m
Formula/s/sigstore.rb                @cho-m
Formula/s/sofia-sip.rb               @cho-m
Formula/s/spice-gtk.rb               @cho-m
Formula/s/spice-server.rb            @cho-m
Formula/s/srt.rb                     @cho-m
Formula/s/srtp.rb                    @cho-m
Formula/s/sslsplit.rb                @cho-m
Formula/s/sstp-client.rb             @cho-m
Formula/s/synergy-core.rb            @cho-m
Formula/s/syslog-ng.rb               @cho-m
Formula/s/systemd.rb                 @cho-m
Formula/t/tarsnap.rb                 @cho-m
Formula/t/termscp.rb                 @cho-m
Formula/t/thrift.rb                  @cho-m
Formula/t/tiledb.rb                  @cho-m
Formula/t/tor.rb                     @cho-m
Formula/t/tsduck.rb                  @cho-m
Formula/t/ttyd.rb                    @cho-m
Formula/u/uhd.rb                     @cho-m
Formula/u/unbound.rb                 @cho-m
Formula/u/uwsgi.rb                   @cho-m
Formula/w/w3m.rb                     @cho-m
Formula/w/wangle.rb                  @cho-m
Formula/w/weave.rb                   @cho-m
Formula/x/xml-security-c.rb          @cho-m
Formula/x/xml-tooling-c.rb           @cho-m
Formula/x/xrootd.rb                  @cho-m
Formula/y/yafc.rb                    @cho-m
Formula/y/yara.rb                    @cho-m
Formula/z/zeek.rb                    @cho-m
Formula/z/znc.rb                     @cho-m
